In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({'make': ['Toyota', 'BMW', 'Toyota', 'Tesla', 'Tesla', 'Tesla'], 'year': ['2018', '2019', '2017', '2018', '2015', '2010']})

In [3]:
data

     make  year
0  Toyota  2018
1     BMW  2019
2  Toyota  2017
3   Tesla  2018
4   Tesla  2015
5   Tesla  2010

In [4]:
groups = data.groupby('make')

In [5]:
groups.count()

        year
make
BMW        1
Tesla      3
Toyota     2