In [1]:
pd

NameError: name 'pd' is not defined

In [ ]:
data

In [6]:
import pandas as pd

In [ ]:
# read csv file with pandas
data = pd.read_csv('cars.csv')

In [ ]:
data

In [ ]:
products = pd.read_csv('products-2.csv')

In [ ]:
products

In [ ]:
products.describe()

In [ ]:
products = pd.read_csv('product-2.csv')

In [ ]:
products = pd.read_csv('products-2.csv', sep=';')

In [ ]:
products

In [ ]:
products = pd.read_csv('products-2.csv', 'rb')

In [ ]:
products1 = pd.read_csv('products-2.csv', sep = ',')

In [ ]:
products

In [ ]:
products1 = pd.read_csv('products-2.csv', sep = ',')

In [ ]:
products1

In [ ]:
products1 = pd.read_csv('products-2.csv', sep = ',', header=0)

In [ ]:
products1

In [ ]:
products1 = pd.read_csv('products-2.csv', sep = ',', header=0)

In [ ]:
products1

In [ ]:
products1.columns

In [ ]:
products3 = pd.read_csv('products-2.csv')

In [ ]:
products3

In [ ]:
products3.head()

In [ ]:
products3 = pd.read_csv('products-2.csv', delimiter = ',')

In [ ]:
products3

In [ ]:
products3 = pd.read_csv('products-2.csv')

In [ ]:
print(products3)

In [ ]:
products = pd.read_csv('products-2.csv')

In [ ]:
products

In [ ]:
products = pd.read_csv('products-2.csv', sep='\t')

In [ ]:
products

In [ ]:
products.tail()

In [ ]:
black_products = [{'productID','color','name'}]

In [ ]:
black_products

In [ ]:
# list productId, name and reorderpoint of all the productswith listprice greater than 500

In [2]:
products.value_counts()

NameError: name 'products' is not defined

In [4]:
products['Color']

NameError: name 'products' is not defined

In [7]:
import pandas as pd

In [8]:
products = pd.read_csv('products-2.csv')

In [9]:
products

    ProductID\tName\tProductNumber\tMakeFlag\tFinishedGoodsFlag\tColor\tSafetyStockLevel\tReorderPoint\tStandardCost\tListPrice\tSize\tSizeUnitMeasureCode\tWeightUnitMeasureCode\tWeight\tDaysToManufacture\tProductLine\tClass\tStyle\tProductSubcategoryID\tProductModelID\tSellStartDate\tSellEndDate\tDiscontinuedDate\trowguid\tModifiedDate
0    1\tAdjustable Race\tAR-5381\t0\t0\t\t1000\t750...
1    2\tBearing Ball\tBA-8327\t0\t0\t\t1000\t750\t0...
2    3\tBB Ball Bearing\tBE-2349\t1\t0\t\t800\t600\...
3    4\tHeadset Ball Bearings\tBE-2908\t0\t0\t\t800...
4    316\tBlade\tBL-2036\t1\t0\t\t800\t600\t0\t0\t\...
..                                                 ...
499  995\tML Bottom Bracket\tBB-8107\t1\t1\t\t500\t...
500  996\tHL Bottom Bracket\tBB-9108\t1\t1\t\t500\t...
501  997\tRoad-750 Black 44\tBK-R19B-44\t1\t1\tBlac...
502  998\tRoad-750 Black 48\tBK-R19B-48\t1\t1\tBlac...
503  999\tRoad-750 Black 52\tBK-R19B-52\t1\t1\tBlac...

[504 rows x 1 columns]

In [10]:
products = pd.read_csv('products-2.csv', sep = ',', header=0)

In [11]:
products

    ProductID\tName\tProductNumber\tMakeFlag\tFinishedGoodsFlag\tColor\tSafetyStockLevel\tReorderPoint\tStandardCost\tListPrice\tSize\tSizeUnitMeasureCode\tWeightUnitMeasureCode\tWeight\tDaysToManufacture\tProductLine\tClass\tStyle\tProductSubcategoryID\tProductModelID\tSellStartDate\tSellEndDate\tDiscontinuedDate\trowguid\tModifiedDate
0    1\tAdjustable Race\tAR-5381\t0\t0\t\t1000\t750...
1    2\tBearing Ball\tBA-8327\t0\t0\t\t1000\t750\t0...
2    3\tBB Ball Bearing\tBE-2349\t1\t0\t\t800\t600\...
3    4\tHeadset Ball Bearings\tBE-2908\t0\t0\t\t800...
4    316\tBlade\tBL-2036\t1\t0\t\t800\t600\t0\t0\t\...
..                                                 ...
499  995\tML Bottom Bracket\tBB-8107\t1\t1\t\t500\t...
500  996\tHL Bottom Bracket\tBB-9108\t1\t1\t\t500\t...
501  997\tRoad-750 Black 44\tBK-R19B-44\t1\t1\tBlac...
502  998\tRoad-750 Black 48\tBK-R19B-48\t1\t1\tBlac...
503  999\tRoad-750 Black 52\tBK-R19B-52\t1\t1\tBlac...

[504 rows x 1 columns]

In [12]:
products = pd.read_csv('products-2.csv', sep='\t')

In [13]:
products

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,995,ML Bottom Bracket,BB-8107,1,1,NaN,500,375,44.9506,101.24,...,NaN,M,NaN,5.0,96.0,2013-05-30 00:00:00,NaN,NaN,{71AB847F-D091-42D6-B735-7B0C2D82FC84},2014-02-08 10:01:36.827000000
500,996,HL Bottom Bracket,BB-9108,1,1,NaN,500,375,53.9416,121.49,...,NaN,H,NaN,5.0,97.0,2013-05-30 00:00:00,NaN,NaN,{230C47C5-08B2-4CE3-B706-69C0BDD62965},2014-02-08 10:01:36.827000000
501,997,Road-750 Black 44,BK-R19B-44,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{44CE4802-409F-43AB-9B27-CA53421805BE},2014-02-08 10:01:36.827000000
502,998,Road-750 Black 48,BK-R19B-48,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{3DE9A212-1D49-40B6-B10A-F564D981DBDE},2014-02-08 10:01:36.827000000
503,999,Road-750 Black 52,BK-R19B-52,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{AE638923-2B67-4679-B90E-ABBAB17DCA31},2014-02-08 10:01:36.827000000

In [14]:
products['Color']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
       ...
499      NaN
500      NaN
501    Black
502    Black
503    Black
Name: Color, Length: 504, dtype: object

In [15]:
# How to create a new column
products['DiscountPrice'] = products['ListPrice'] * 0.5

In [16]:
products

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate,DiscountPrice
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000,0.000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000,0.000
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000,0.000
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000,0.000
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,995,ML Bottom Bracket,BB-8107,1,1,NaN,500,375,44.9506,101.24,...,M,NaN,5.0,96.0,2013-05-30 00:00:00,NaN,NaN,{71AB847F-D091-42D6-B735-7B0C2D82FC84},2014-02-08 10:01:36.827000000,50.620
500,996,HL Bottom Bracket,BB-9108,1,1,NaN,500,375,53.9416,121.49,...,H,NaN,5.0,97.0,2013-05-30 00:00:00,NaN,NaN,{230C47C5-08B2-4CE3-B706-69C0BDD62965},2014-02-08 10:01:36.827000000,60.745
501,997,Road-750 Black 44,BK-R19B-44,1,1,Black,100,75,343.6496,539.99,...,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{44CE4802-409F-43AB-9B27-CA53421805BE},2014-02-08 10:01:36.827000000,269.995
502,998,Road-750 Black 48,BK-R19B-48,1,1,Black,100,75,343.6496,539.99,...,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{3DE9A212-1D49-40B6-B10A-F564D981DBDE},2014-02-08 10:01:36.827000000,269.995
503,999,Road-750 Black 52,BK-R19B-52,1,1,Black,100,75,343.6496,539.99,...,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{AE638923-2B67-4679-B90E-ABBAB17DCA31},2014-02-08 10:01:36.827000000,269.995

In [17]:
products.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate,DiscountPrice
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000,0.0
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000,0.0
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000,0.0
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000,0.0
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000,0.0

In [21]:
products

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,995,ML Bottom Bracket,BB-8107,1,1,NaN,500,375,44.9506,101.24,...,NaN,M,NaN,5.0,96.0,2013-05-30 00:00:00,NaN,NaN,{71AB847F-D091-42D6-B735-7B0C2D82FC84},2014-02-08 10:01:36.827000000
500,996,HL Bottom Bracket,BB-9108,1,1,NaN,500,375,53.9416,121.49,...,NaN,H,NaN,5.0,97.0,2013-05-30 00:00:00,NaN,NaN,{230C47C5-08B2-4CE3-B706-69C0BDD62965},2014-02-08 10:01:36.827000000
501,997,Road-750 Black 44,BK-R19B-44,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{44CE4802-409F-43AB-9B27-CA53421805BE},2014-02-08 10:01:36.827000000
502,998,Road-750 Black 48,BK-R19B-48,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{3DE9A212-1D49-40B6-B10A-F564D981DBDE},2014-02-08 10:01:36.827000000
503,999,Road-750 Black 52,BK-R19B-52,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{AE638923-2B67-4679-B90E-ABBAB17DCA31},2014-02-08 10:01:36.827000000

In [22]:
# Recreate a new column
products['DiscountPrice'] = products['ListPrice'] * 0.5

In [23]:
products

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate,DiscountPrice
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000,0.000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000,0.000
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000,0.000
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000,0.000
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,995,ML Bottom Bracket,BB-8107,1,1,NaN,500,375,44.9506,101.24,...,M,NaN,5.0,96.0,2013-05-30 00:00:00,NaN,NaN,{71AB847F-D091-42D6-B735-7B0C2D82FC84},2014-02-08 10:01:36.827000000,50.620
500,996,HL Bottom Bracket,BB-9108,1,1,NaN,500,375,53.9416,121.49,...,H,NaN,5.0,97.0,2013-05-30 00:00:00,NaN,NaN,{230C47C5-08B2-4CE3-B706-69C0BDD62965},2014-02-08 10:01:36.827000000,60.745
501,997,Road-750 Black 44,BK-R19B-44,1,1,Black,100,75,343.6496,539.99,...,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{44CE4802-409F-43AB-9B27-CA53421805BE},2014-02-08 10:01:36.827000000,269.995
502,998,Road-750 Black 48,BK-R19B-48,1,1,Black,100,75,343.6496,539.99,...,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{3DE9A212-1D49-40B6-B10A-F564D981DBDE},2014-02-08 10:01:36.827000000,269.995
503,999,Road-750 Black 52,BK-R19B-52,1,1,Black,100,75,343.6496,539.99,...,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{AE638923-2B67-4679-B90E-ABBAB17DCA31},2014-02-08 10:01:36.827000000,269.995

In [24]:
# Remove a column
products.drop(columns=['DiscountPrice'], inplace=True)

In [25]:
products

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,995,ML Bottom Bracket,BB-8107,1,1,NaN,500,375,44.9506,101.24,...,NaN,M,NaN,5.0,96.0,2013-05-30 00:00:00,NaN,NaN,{71AB847F-D091-42D6-B735-7B0C2D82FC84},2014-02-08 10:01:36.827000000
500,996,HL Bottom Bracket,BB-9108,1,1,NaN,500,375,53.9416,121.49,...,NaN,H,NaN,5.0,97.0,2013-05-30 00:00:00,NaN,NaN,{230C47C5-08B2-4CE3-B706-69C0BDD62965},2014-02-08 10:01:36.827000000
501,997,Road-750 Black 44,BK-R19B-44,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{44CE4802-409F-43AB-9B27-CA53421805BE},2014-02-08 10:01:36.827000000
502,998,Road-750 Black 48,BK-R19B-48,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{3DE9A212-1D49-40B6-B10A-F564D981DBDE},2014-02-08 10:01:36.827000000
503,999,Road-750 Black 52,BK-R19B-52,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{AE638923-2B67-4679-B90E-ABBAB17DCA31},2014-02-08 10:01:36.827000000