In [2]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
#read in the file 'Homicide.csv' and store it in a variable called homicide
data = pd.read_csv('Homicide.csv')

In [4]:
#how many rows are in the dataset
data

,X,Y,Index_,Event_Unique_ID,Occurrence_year,Division,Homicide_Type,Occurrence_Date,Hood_ID,Neighbourhood,Lat,Long,ObjectId
0,-79.392853,43.685028,1,111878,2004,D53,Other,2004-01-03T05:00:00.000Z,98,Rosedale-Moore Park (98),43.685028,-79.392853,1
1,-79.234962,43.781536,2,125755,2004,D42,Shooting,2004-01-08T05:00:00.000Z,137,Woburn (137),43.781536,-79.234962,2
2,-79.206894,43.810860,3,136086,2004,D42,Shooting,2004-01-08T05:00:00.000Z,132,Malvern (132),43.810860,-79.206894,3
3,-79.434403,43.670475,4,148623,2004,D13,Shooting,2004-01-25T05:00:00.000Z,93,Dovercourt-Wallace Emerson-Junction (93),43.670475,-79.434403,4
4,-79.203865,43.823543,5,148619,2004,D42,Shooting,2004-01-25T05:00:00.000Z,131,Rouge (131),43.823543,-79.203865,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,-79.374847,43.660656,1235,GO-20182242344,2018,D51,Stabbing,2018-12-06T05:00:00.000Z,73,Moss Park (73),43.660656,-79.374847,1011
1011,-79.548676,43.701328,1236,GO-20182280579,2018,D23,Shooting,2018-12-12T05:00:00.000Z,6,Kingsview Village-The Westway (6),43.701328,-79.548676,1012
1012,-79.517776,43.759018,1237,GO-20182315055,2018,D31,Shooting,2018-12-18T05:00:00.000Z,24,Black Creek (24),43.759018,-79.517776,1013
1013,-79.397644,43.644955,1238,GO-20182320758,2018,D14,Shooting,2018-12-19T05:00:00.000Z,77,Waterfront Communities-The Island (77),43.644955,-79.397644,1014
1014,-79.585831,43.750977,1240,GO-20182339244,2018,D23,Shooting,2018-12-21T05:00:00.000Z,2,Mount Olive-Silverstone-Jamestown (2),43.750977,-79.585831,1015

In [7]:
#replace the default index with the values of the 'Index_' column
data[data['Homicide_Type'] == 'Shooting'].groupby('Occurrence_year')['Homicide_Type'].count()

Occurrence_year
2004    26
2005    53
2006    29
2007    44
2008    37
2009    37
2010    32
2011    28
2012    34
2013    22
2014    27
2015    26
2016    41
2017    39
2018    51
Name: Homicide_Type, dtype: int64

In [11]:
#replace the default index with the values of the 'Index_' column

In [14]:
#list the types of homicides in the order of their frequency
data.groupby('Occurrence_year')['Homicide_Type'].count().sort_values(ascending=False)

Occurrence_year
2018    96
2007    86
2005    80
2016    75
2008    70
2006    70
2017    65
2010    65
2004    64
2009    62
2015    59
2014    58
2013    57
2012    57
2011    51
Name: Homicide_Type, dtype: int64

In [7]:
#plot the homicide types and their frequencies on a bar chart

In [15]:
#find the year with the highest number of shootings
data[data['Homicide_Type'] == 'Shooting'].groupby('Occurrence_year')['Homicide_Type'].count().sort_values(ascending=False)

Occurrence_year
2005    53
2018    51
2007    44
2016    41
2017    39
2009    37
2008    37
2012    34
2010    32
2006    29
2011    28
2014    27
2015    26
2004    26
2013    22
Name: Homicide_Type, dtype: int64

In [38]:
#for 2018, list the months with the highest and lowest homicides

#create new column
data['Month'] = pd.DatetimeIndex(data['Occurrence_Date']).month

data

,X,Y,Index_,Event_Unique_ID,Occurrence_year,Division,Homicide_Type,Occurrence_Date,Hood_ID,Neighbourhood,Lat,Long,ObjectId,Month
0,-79.392853,43.685028,1,111878,2004,D53,Other,2004-01-03T05:00:00.000Z,98,Rosedale-Moore Park (98),43.685028,-79.392853,1,1
1,-79.234962,43.781536,2,125755,2004,D42,Shooting,2004-01-08T05:00:00.000Z,137,Woburn (137),43.781536,-79.234962,2,1
2,-79.206894,43.810860,3,136086,2004,D42,Shooting,2004-01-08T05:00:00.000Z,132,Malvern (132),43.810860,-79.206894,3,1
3,-79.434403,43.670475,4,148623,2004,D13,Shooting,2004-01-25T05:00:00.000Z,93,Dovercourt-Wallace Emerson-Junction (93),43.670475,-79.434403,4,1
4,-79.203865,43.823543,5,148619,2004,D42,Shooting,2004-01-25T05:00:00.000Z,131,Rouge (131),43.823543,-79.203865,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,-79.374847,43.660656,1235,GO-20182242344,2018,D51,Stabbing,2018-12-06T05:00:00.000Z,73,Moss Park (73),43.660656,-79.374847,1011,12
1011,-79.548676,43.701328,1236,GO-20182280579,2018,D23,Shooting,2018-12-12T05:00:00.000Z,6,Kingsview Village-The Westway (6),43.701328,-79.548676,1012,12
1012,-79.517776,43.759018,1237,GO-20182315055,2018,D31,Shooting,2018-12-18T05:00:00.000Z,24,Black Creek (24),43.759018,-79.517776,1013,12
1013,-79.397644,43.644955,1238,GO-20182320758,2018,D14,Shooting,2018-12-19T05:00:00.000Z,77,Waterfront Communities-The Island (77),43.644955,-79.397644,1014,12
1014,-79.585831,43.750977,1240,GO-20182339244,2018,D23,Shooting,2018-12-21T05:00:00.000Z,2,Mount Olive-Silverstone-Jamestown (2),43.750977,-79.585831,1015,12

In [35]:
#list five safest neighborhoods
data.groupby('Neighbourhood')['Index_'].count().sort_values()

Neighbourhood
Kingsway South (15)                       1
Yonge-Eglinton (100)                      1
Newtonbrook West (36)                     1
Bayview Woods-Steeles (49)                1
Runnymede-Bloor West Village (89)         2
                                         ..
Rouge (131)                              24
Malvern (132)                            25
Moss Park (73)                           26
Glenfield-Jane Heights (25)              27
Mount Olive-Silverstone-Jamestown (2)    29
Name: Index_, Length: 130, dtype: int64

In [22]:
#which neighborhood had the highest number of stabbings
stabbings = data[data['Homicide_Type'] == 'Stabbing'].groupby('Neighbourhood')['Homicide_Type'].count().sort_values(ascending=False)

stabbings

Neighbourhood
Downsview-Roding-CFB (26)      8
South Riverdale (70)           7
Thorncliffe Park (55)          5
Woburn (137)                   5
Glenfield-Jane Heights (25)    5
                              ..
Hillcrest Village (48)         1
Highland Creek (134)           1
High Park-Swansea (87)         1
High Park North (88)           1
Agincourt North (129)          1
Name: Homicide_Type, Length: 97, dtype: int64

In [39]:
#(optional)list the homicides by year
#hint - one way to do this is to create new column called year, get the yar from the occurence date,
#then group by your new year column

In [55]:
import dateutil

In [58]:
data

,X,Y,Index_,Event_Unique_ID,Occurrence_year,Division,Homicide_Type,Occurrence_Date,Hood_ID,Neighbourhood,Lat,Long,ObjectId,Month
0,-79.392853,43.685028,1,111878,2004,D53,Other,2004-01-03T05:00:00.000Z,98,Rosedale-Moore Park (98),43.685028,-79.392853,1,2004-03-01 05:00:00+00:00
1,-79.234962,43.781536,2,125755,2004,D42,Shooting,2004-01-08T05:00:00.000Z,137,Woburn (137),43.781536,-79.234962,2,2004-08-01 05:00:00+00:00
2,-79.206894,43.810860,3,136086,2004,D42,Shooting,2004-01-08T05:00:00.000Z,132,Malvern (132),43.810860,-79.206894,3,2004-08-01 05:00:00+00:00
3,-79.434403,43.670475,4,148623,2004,D13,Shooting,2004-01-25T05:00:00.000Z,93,Dovercourt-Wallace Emerson-Junction (93),43.670475,-79.434403,4,2004-01-25 05:00:00+00:00
4,-79.203865,43.823543,5,148619,2004,D42,Shooting,2004-01-25T05:00:00.000Z,131,Rouge (131),43.823543,-79.203865,5,2004-01-25 05:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,-79.374847,43.660656,1235,GO-20182242344,2018,D51,Stabbing,2018-12-06T05:00:00.000Z,73,Moss Park (73),43.660656,-79.374847,1011,2018-06-12 05:00:00+00:00
1011,-79.548676,43.701328,1236,GO-20182280579,2018,D23,Shooting,2018-12-12T05:00:00.000Z,6,Kingsview Village-The Westway (6),43.701328,-79.548676,1012,2018-12-12 05:00:00+00:00
1012,-79.517776,43.759018,1237,GO-20182315055,2018,D31,Shooting,2018-12-18T05:00:00.000Z,24,Black Creek (24),43.759018,-79.517776,1013,2018-12-18 05:00:00+00:00
1013,-79.397644,43.644955,1238,GO-20182320758,2018,D14,Shooting,2018-12-19T05:00:00.000Z,77,Waterfront Communities-The Island (77),43.644955,-79.397644,1014,2018-12-19 05:00:00+00:00
1014,-79.585831,43.750977,1240,GO-20182339244,2018,D23,Shooting,2018-12-21T05:00:00.000Z,2,Mount Olive-Silverstone-Jamestown (2),43.750977,-79.585831,1015,2018-12-21 05:00:00+00:00

In [73]:
#Function to convert val to better month format

def get_month_name(val):
    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec']
    
    #error checking
    try:
        return months[val - 1]
    except:
        return val

In [72]:
data['Month'] = pd.Datetime(data['Occurrence_year'])
data

,X,Y,Index_,Event_Unique_ID,Occurrence_year,Division,Homicide_Type,Occurrence_Date,Hood_ID,Neighbourhood,Lat,Long,ObjectId,Month
0,-79.392853,43.685028,1,111878,2004,D53,Other,2004-01-03T05:00:00.000Z,98,Rosedale-Moore Park (98),43.685028,-79.392853,1,1970-01-01 00:00:00.000002004
1,-79.234962,43.781536,2,125755,2004,D42,Shooting,2004-01-08T05:00:00.000Z,137,Woburn (137),43.781536,-79.234962,2,1970-01-01 00:00:00.000002004
2,-79.206894,43.810860,3,136086,2004,D42,Shooting,2004-01-08T05:00:00.000Z,132,Malvern (132),43.810860,-79.206894,3,1970-01-01 00:00:00.000002004
3,-79.434403,43.670475,4,148623,2004,D13,Shooting,2004-01-25T05:00:00.000Z,93,Dovercourt-Wallace Emerson-Junction (93),43.670475,-79.434403,4,1970-01-01 00:00:00.000002004
4,-79.203865,43.823543,5,148619,2004,D42,Shooting,2004-01-25T05:00:00.000Z,131,Rouge (131),43.823543,-79.203865,5,1970-01-01 00:00:00.000002004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,-79.374847,43.660656,1235,GO-20182242344,2018,D51,Stabbing,2018-12-06T05:00:00.000Z,73,Moss Park (73),43.660656,-79.374847,1011,1970-01-01 00:00:00.000002018
1011,-79.548676,43.701328,1236,GO-20182280579,2018,D23,Shooting,2018-12-12T05:00:00.000Z,6,Kingsview Village-The Westway (6),43.701328,-79.548676,1012,1970-01-01 00:00:00.000002018
1012,-79.517776,43.759018,1237,GO-20182315055,2018,D31,Shooting,2018-12-18T05:00:00.000Z,24,Black Creek (24),43.759018,-79.517776,1013,1970-01-01 00:00:00.000002018
1013,-79.397644,43.644955,1238,GO-20182320758,2018,D14,Shooting,2018-12-19T05:00:00.000Z,77,Waterfront Communities-The Island (77),43.644955,-79.397644,1014,1970-01-01 00:00:00.000002018
1014,-79.585831,43.750977,1240,GO-20182339244,2018,D23,Shooting,2018-12-21T05:00:00.000Z,2,Mount Olive-Silverstone-Jamestown (2),43.750977,-79.585831,1015,1970-01-01 00:00:00.000002018

In [76]:
data['Month'] = data['Month'].apply(get_month_name)

In [77]:
#Print bunch of rows
data.head(20)

,X,Y,Index_,Event_Unique_ID,Occurrence_year,Division,Homicide_Type,Occurrence_Date,Hood_ID,Neighbourhood,Lat,Long,ObjectId,Month
0,-79.392853,43.685028,1,111878,2004,D53,Other,2004-01-03T05:00:00.000Z,98,Rosedale-Moore Park (98),43.685028,-79.392853,1,1970-01-01 00:00:00.000002004
1,-79.234962,43.781536,2,125755,2004,D42,Shooting,2004-01-08T05:00:00.000Z,137,Woburn (137),43.781536,-79.234962,2,1970-01-01 00:00:00.000002004
2,-79.206894,43.810860,3,136086,2004,D42,Shooting,2004-01-08T05:00:00.000Z,132,Malvern (132),43.810860,-79.206894,3,1970-01-01 00:00:00.000002004
3,-79.434403,43.670475,4,148623,2004,D13,Shooting,2004-01-25T05:00:00.000Z,93,Dovercourt-Wallace Emerson-Junction (93),43.670475,-79.434403,4,1970-01-01 00:00:00.000002004
4,-79.203865,43.823543,5,148619,2004,D42,Shooting,2004-01-25T05:00:00.000Z,131,Rouge (131),43.823543,-79.203865,5,1970-01-01 00:00:00.000002004
5,-79.508636,43.720917,6,152518,2004,D31,Stabbing,2004-02-20T05:00:00.000Z,26,Downsview-Roding-CFB (26),43.720917,-79.508636,6,1970-01-01 00:00:00.000002004
6,-79.508980,43.722366,7,172092,2004,D31,Shooting,2004-02-21T05:00:00.000Z,26,Downsview-Roding-CFB (26),43.722366,-79.508980,7,1970-01-01 00:00:00.000002004
7,-79.592865,43.743115,8,133635,2004,D23,Other,2004-02-21T05:00:00.000Z,2,Mount Olive-Silverstone-Jamestown (2),43.743115,-79.592865,8,1970-01-01 00:00:00.000002004
8,-79.227600,43.816269,10,218803,2004,D42,Shooting,2004-03-03T05:00:00.000Z,131,Rouge (131),43.816269,-79.227600,9,1970-01-01 00:00:00.000002004
9,-79.286728,43.700085,11,200779,2004,D41,Shooting,2004-03-04T05:00:00.000Z,120,Clairlea-Birchmount (120),43.700085,-79.286728,10,1970-01-01 00:00:00.000002004
10,-79.266502,43.808029,12,218585,2004,D42,Shooting,2004-03-03T05:00:00.000Z,129,Agincourt North (129),43.808029,-79.266502,11,1970-01-01 00:00:00.000002004
11,-79.241806,43.766472,13,229133,2004,D41,Stabbing,2004-03-13T05:00:00.000Z,137,Woburn (137),43.766472,-79.241806,12,1970-01-01 00:00:00.000002004
12,-79.427460,43.709606,14,219659,2004,D53,Other,2004-03-18T05:00:00.000Z,39,Bedford Park-Nortown (39),43.709606,-79.427460,13,1970-01-01 00:00:00.000002004
13,-79.225327,43.759827,15,219687,2004,D42,Other,2004-03-24T05:00:00.000Z,137,Woburn (137),43.759827,-79.225327,14,1970-01-01 00:00:00.000002004
14,-79.371033,43.658295,16,256410,2004,D51,Other,2004-04-01T05:00:00.000Z,73,Moss Park (73),43.658295,-79.371033,15,1970-01-01 00:00:00.000002004
15,-79.550568,43.725098,17,250857,2004,D23,Shooting,2004-04-13T04:00:00.000Z,5,Elms-Old Rexdale (5),43.725098,-79.550568,16,1970-01-01 00:00:00.000002004
16,-79.579880,43.735081,18,350484,2004,D23,Shooting,2004-05-01T04:00:00.000Z,2,Mount Olive-Silverstone-Jamestown (2),43.735081,-79.579880,17,1970-01-01 00:00:00.000002004
17,-79.328781,43.695946,19,301868,2004,D54,Shooting,2004-03-03T05:00:00.000Z,58,Old East York (58),43.695946,-79.328781,18,1970-01-01 00:00:00.000002004
18,-79.518761,43.769165,20,311851,2004,D31,Shooting,2004-05-15T04:00:00.000Z,24,Black Creek (24),43.769165,-79.518761,19,1970-01-01 00:00:00.000002004
19,-79.544144,43.594315,21,311870,2004,D22,Stabbing,2004-05-19T04:00:00.000Z,20,Alderwood (20),43.594315,-79.544144,20,1970-01-01 00:00:00.000002004

In [83]:
#Try another way to get datetime
data['Month'] = pd.to_datetime(data['Occurrence_Date'])
data

,X,Y,Index_,Event_Unique_ID,Occurrence_year,Division,Homicide_Type,Occurrence_Date,Hood_ID,Neighbourhood,Lat,Long,ObjectId,Month
0,-79.392853,43.685028,1,111878,2004,D53,Other,2004-01-03T05:00:00.000Z,98,Rosedale-Moore Park (98),43.685028,-79.392853,1,2004-01-03 05:00:00+00:00
1,-79.234962,43.781536,2,125755,2004,D42,Shooting,2004-01-08T05:00:00.000Z,137,Woburn (137),43.781536,-79.234962,2,2004-01-08 05:00:00+00:00
2,-79.206894,43.810860,3,136086,2004,D42,Shooting,2004-01-08T05:00:00.000Z,132,Malvern (132),43.810860,-79.206894,3,2004-01-08 05:00:00+00:00
3,-79.434403,43.670475,4,148623,2004,D13,Shooting,2004-01-25T05:00:00.000Z,93,Dovercourt-Wallace Emerson-Junction (93),43.670475,-79.434403,4,2004-01-25 05:00:00+00:00
4,-79.203865,43.823543,5,148619,2004,D42,Shooting,2004-01-25T05:00:00.000Z,131,Rouge (131),43.823543,-79.203865,5,2004-01-25 05:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,-79.374847,43.660656,1235,GO-20182242344,2018,D51,Stabbing,2018-12-06T05:00:00.000Z,73,Moss Park (73),43.660656,-79.374847,1011,2018-12-06 05:00:00+00:00
1011,-79.548676,43.701328,1236,GO-20182280579,2018,D23,Shooting,2018-12-12T05:00:00.000Z,6,Kingsview Village-The Westway (6),43.701328,-79.548676,1012,2018-12-12 05:00:00+00:00
1012,-79.517776,43.759018,1237,GO-20182315055,2018,D31,Shooting,2018-12-18T05:00:00.000Z,24,Black Creek (24),43.759018,-79.517776,1013,2018-12-18 05:00:00+00:00
1013,-79.397644,43.644955,1238,GO-20182320758,2018,D14,Shooting,2018-12-19T05:00:00.000Z,77,Waterfront Communities-The Island (77),43.644955,-79.397644,1014,2018-12-19 05:00:00+00:00
1014,-79.585831,43.750977,1240,GO-20182339244,2018,D23,Shooting,2018-12-21T05:00:00.000Z,2,Mount Olive-Silverstone-Jamestown (2),43.750977,-79.585831,1015,2018-12-21 05:00:00+00:00

In [86]:
data['Month'].describe()

count                          1015
unique                          853
top       2018-04-23 04:00:00+00:00
freq                             10
first     2004-01-03 05:00:00+00:00
last      2018-12-21 05:00:00+00:00
Name: Month, dtype: object

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 14 columns):
X                  1015 non-null float64
Y                  1015 non-null float64
Index_             1015 non-null int64
Event_Unique_ID    1015 non-null object
Occurrence_year    1015 non-null int64
Division           1015 non-null object
Homicide_Type      1015 non-null object
Occurrence_Date    1015 non-null object
Hood_ID            1015 non-null int64
Neighbourhood      1015 non-null object
Lat                1015 non-null float64
Long               1015 non-null float64
ObjectId           1015 non-null int64
Month              1015 non-null datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(4), int64(4), object(5)
memory usage: 111.1+ KB