In [1]:
import pandas as pd

In [2]:
import dateutil

In [3]:
data = pd.read_csv('phone_data.csv')

In [4]:
data

     index            date  duration  item    month   network network_type
0        0  15/10/14 06:58    34.429  data  2014-11      data         data
1        1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2        2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3        3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4        4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
..     ...             ...       ...   ...      ...       ...          ...
825    825  13/03/15 00:38     1.000   sms  2015-03     world        world
826    826  13/03/15 00:39     1.000   sms  2015-03  Vodafone       mobile
827    827  13/03/15 06:58    34.429  data  2015-03      data         data
828    828  14/03/15 00:13     1.000   sms  2015-03     world        world
829    829  14/03/15 00:16     1.000   sms  2015-03     world        world

[830 rows x 7 columns]

In [5]:
data.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [6]:
# Working with dates that are strings, convert string dates into data time by using 'dateutil'
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)

In [7]:
data.head(10)

   index                date  duration  item    month    network network_type
0      0 2014-10-15 06:58:00    34.429  data  2014-11       data         data
1      1 2014-10-15 06:58:00    13.000  call  2014-11   Vodafone       mobile
2      2 2014-10-15 14:46:00    23.000  call  2014-11     Meteor       mobile
3      3 2014-10-15 14:48:00     4.000  call  2014-11      Tesco       mobile
4      4 2014-10-15 17:27:00     4.000  call  2014-11      Tesco       mobile
5      5 2014-10-15 18:55:00     4.000  call  2014-11      Tesco       mobile
6      6 2014-10-16 06:58:00    34.429  data  2014-11       data         data
7      7 2014-10-16 15:01:00   602.000  call  2014-11      Three       mobile
8      8 2014-10-16 15:12:00  1050.000  call  2014-11      Three       mobile
9      9 2014-10-16 15:30:00    19.000  call  2014-11  voicemail    voicemail

In [8]:
data.count

<bound method DataFrame.count of      index                date  duration  item    month   network network_type
0        0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1        1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2        2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3        3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4        4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile
..     ...                 ...       ...   ...      ...       ...          ...
825    825 2015-03-13 00:38:00     1.000   sms  2015-03     world        world
826    826 2015-03-13 00:39:00     1.000   sms  2015-03  Vodafone       mobile
827    827 2015-03-13 06:58:00    34.429  data  2015-03      data         data
828    828 2015-03-14 00:13:00     1.000   sms  2015-03     world        world
829    829 2015-03-14 00:16:00     1.000   sms  2015-03     world        world

[830 rows x 7 columns]>

In [9]:
data.count()

index           830
date            830
duration        830
item            830
month           830
network         830
network_type    830
dtype: int64

In [12]:
# How many phone calls
data.shape

(830, 7)

In [14]:
# How many types of items
data['item'].value_counts()

call    388
sms     292
data    150
Name: item, dtype: int64

In [20]:
data['item'].describe()

count      830
unique       3
top       call
freq       388
Name: item, dtype: object

In [21]:
calls = len(data['item'] == 'call')

In [22]:
calls

830

In [23]:
calls = len(data[data['item'] == 'call'])

In [24]:
calls

388

In [25]:
if_calls = data.item == 'call'

In [26]:
if_calls

0      False
1       True
2       True
3       True
4       True
       ...
825    False
826    False
827    False
828    False
829    False
Name: item, Length: 830, dtype: bool

In [27]:
calls_2 = (data[data['item'] == 'call'])

In [28]:
calls_2

     index                date  duration  item    month   network network_type
1        1 2014-10-15 06:58:00      13.0  call  2014-11  Vodafone       mobile
2        2 2014-10-15 14:46:00      23.0  call  2014-11    Meteor       mobile
3        3 2014-10-15 14:48:00       4.0  call  2014-11     Tesco       mobile
4        4 2014-10-15 17:27:00       4.0  call  2014-11     Tesco       mobile
5        5 2014-10-15 18:55:00       4.0  call  2014-11     Tesco       mobile
..     ...                 ...       ...   ...      ...       ...          ...
807    807 2015-03-03 10:12:00     745.0  call  2015-03  Vodafone       mobile
808    808 2015-03-03 10:27:00      57.0  call  2015-03  Vodafone       mobile
809    809 2015-03-03 14:34:00    1325.0  call  2015-03  Vodafone       mobile
810    810 2015-03-03 18:36:00     768.0  call  2015-03     Three       mobile
816    816 2015-03-04 12:29:00   10528.0  call  2015-03  landline     landline

[388 rows x 7 columns]

In [33]:
# Max duration of all calls
data[data['item'] == 'call']['duration'].max()

10528.0

In [34]:
# Sum of all calls
data[data['item'] == 'call']['duration'].sum()

92321.0

In [35]:
# How many entries per month
data['month'].value_counts()

2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

In [42]:
# Alternative approach to group by month
data.groupby('month').count()['item']

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: item, dtype: int64

In [43]:
# Get all null values of type 'network'
data['network'].nunique()

9

In [45]:
# Get first entry for each month
data.groupby('month').first()

         index                date  duration  item   network network_type
month
2014-11      0 2014-10-15 06:58:00    34.429  data      data         data
2014-12    228 2014-11-13 06:58:00    34.429  data      data         data
2015-01    381 2014-12-13 06:58:00    34.429  data      data         data
2015-02    577 2015-01-13 06:58:00    34.429  data      data         data
2015-03    729 2015-02-12 20:15:00    69.000  call  landline     landline

In [48]:
# Get last entry for each month
data.groupby('month').last()

         index                date  duration  item   network network_type
month
2014-11    230 2014-11-13 22:31:00     1.000   sms  Vodafone       mobile
2014-12    388 2014-12-14 19:54:00    25.000  call     Three       mobile
2015-01    593 2015-01-14 23:36:00     1.000   sms     Three       mobile
2015-02    728 2015-02-12 06:58:00    34.429  data      data         data
2015-03    829 2015-03-14 00:16:00     1.000   sms     world        world

In [49]:
# Get sum of duration per month
month_sum = data.groupby('month')['duration'].sum()

In [50]:
month_sum

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [51]:
# Get only calls
data[data['item'] == 'call'].groupby('month')['duration'].sum()

month
2014-11    25547.0
2014-12    13561.0
2015-01    17070.0
2015-02    14416.0
2015-03    21727.0
Name: duration, dtype: float64

In [52]:
# Group by multiple things
data[data['item'] == 'call'].groupby(['network', 'month'])['duration'].sum()

network    month
Meteor     2014-11     1521.0
           2014-12     2010.0
           2015-01     2207.0
           2015-02     1188.0
           2015-03      274.0
Tesco      2014-11     4045.0
           2014-12     1819.0
           2015-01     2904.0
           2015-02     4087.0
           2015-03      973.0
Three      2014-11    12458.0
           2014-12     6316.0
           2015-01     6445.0
           2015-02     6279.0
           2015-03     4966.0
Vodafone   2014-11     4316.0
           2014-12     1302.0
           2015-01     3626.0
           2015-02     1864.0
           2015-03     3513.0
landline   2014-11     2906.0
           2014-12     1424.0
           2015-01     1603.0
           2015-02      730.0
           2015-03    11770.0
voicemail  2014-11      301.0
           2014-12      690.0
           2015-01      285.0
           2015-02      268.0
           2015-03      231.0
Name: duration, dtype: float64